In [1]:
import pandas as pd
import numpy as np
import re
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import log_loss

# Team Data Cleaning

Here, we will run the same code as in TeamDataCleaning.ipynb to create the team statistics for 2019.

In [2]:
colley = pd.read_csv('mydata/colley19_pt.csv')

In [3]:
colley['team'] = colley.team.str.replace('[^a-zA-Z&.() ]+',' ').str.lower()
colley['team'] = colley.team.str.replace('[^a-z& ]+', '')

In [4]:
teamrank = pd.read_csv('mydata/teamrank19_pt.csv')
teamrank10 = pd.read_csv('mydata/teamrank10_19_pt.csv')

In [5]:
to_drop = []
for i in range(len(teamrank.Team)):
    name = teamrank.iloc[i].Team
    num_games = 0
    for j in range(len(name)):
        if name[j] == '(' and name[j + 1].isdigit():
            games_first_digit = int(name[j + 1])
            games_second_digit = 0
            if name[j + 2] != '-':
                games_second_digit = int(name[j + 2])
                games_first_digit = games_first_digit * 10
            num_games = num_games + games_first_digit + games_second_digit
        if name[j] == '-' and name[j + 1].isdigit():
            games_first_digit = int(name[j + 1])
            games_second_digit = 0
            if name[j + 2] != ')':
                games_second_digit = int(name[j + 2])
                games_first_digit = games_first_digit * 10
            num_games = num_games + games_first_digit + games_second_digit
    if num_games < 20:
        to_drop.append(i)

In [6]:
len(to_drop)

0

In [7]:
teamrank = teamrank.drop(to_drop)

In [8]:
to_drop = []
for i in range(len(teamrank10.Team)):
    name = teamrank10.iloc[i].Team
    num_games = 0
    for j in range(len(name)):
        if name[j] == '(' and name[j + 1].isdigit():
            games_first_digit = int(name[j + 1])
            games_second_digit = 0
            if name[j + 2] != '-':
                games_second_digit = int(name[j + 2])
                games_first_digit = games_first_digit * 10
            num_games = num_games + games_first_digit + games_second_digit
        if name[j] == '-' and name[j + 1].isdigit():
            games_first_digit = int(name[j + 1])
            games_second_digit = 0
            if name[j + 2] != ')':
                games_second_digit = int(name[j + 2])
                games_first_digit = games_first_digit * 10
            num_games = num_games + games_first_digit + games_second_digit
    if num_games < 10:
        to_drop.append(i)

In [9]:
len(to_drop)

0

In [10]:
teamrank10 = teamrank10.drop(to_drop)

In [11]:
teamrank['Team'] = teamrank['Team'].str.replace('[^a-zA-Z&.() ]+', ' ').str.lower()
teamrank['Team'] = teamrank['Team'].str.replace('[^a-z& ]+', '').str.rstrip()
teamrank10['Team'] = teamrank10['Team'].str.replace('[^a-zA-Z&.() ]+', ' ').str.lower()
teamrank10['Team'] = teamrank10['Team'].str.replace('[^a-z& ]+', '').str.rstrip()

In [12]:
trank = pd.read_csv('mydata/trank19_pt.csv')

In [13]:
trank['TEAM'] = trank.TEAM.str.replace('[^a-zA-Z&.() ]+',' ').str.lower()
trank['TEAM'] = trank.TEAM.str.replace('[^a-z& ]+','').str.rstrip()

In [14]:
kenpom = pd.read_csv('mydata/summary19_pt.csv')

In [15]:
kenpom['TeamName'] = kenpom.TeamName.str.replace('[^a-zA-Z&.() ]+',' ').str.lower()
kenpom['TeamName'] = kenpom.TeamName.str.replace('[^a-z& ]+','')

In [16]:
spellings = pd.read_csv('DataFiles/TeamSpellings.csv', encoding = "ISO-8859-1")

In [17]:
spellings['TeamNameSpelling'] = spellings['TeamNameSpelling'].str.replace('[^a-z&. ]+', ' ')
spellings['TeamNameSpelling'] = spellings['TeamNameSpelling'].str.replace('[^a-z& ]+', '')

In [18]:
# For loop to change team names
for i in range(len(colley.team)):
    if colley.iloc[i, 1] == 'texas pan am' or colley.iloc[i ,1] == 'tx pan am':
        colley.iloc[i, 1] = 'texas pan american'
    if colley.iloc[i, 1] == 'j madison':
        colley.iloc[i, 1] = 'james madison'
    if colley.iloc[i, 1] == 'wi grn bay':
        colley.iloc[i, 1] = 'green bay'
    if colley.iloc[i, 1] == 'la lafay':
        colley.iloc[i, 1] = 'louisiana lafayette'
    if colley.iloc[i, 1] == 'will & mary':
        colley.iloc[i, 1] = 'william & mary'
    if colley.iloc[i, 1] == 'cs nrthrdg':
        colley.iloc[i, 1] = 'cal st northridge'
    if colley.iloc[i, 1] == 'tx san ant':
        colley.iloc[i, 1] = 'utsa'
    if colley.iloc[i, 1] == 'utah vly st':
        colley.iloc[i, 1] = 'utah valley st'
    if colley.iloc[i, 1] == 'cal san fr':
        colley.iloc[i, 1] = 'san francisco'
    if colley.iloc[i, 1] == 'cincy':
        colley.iloc[i, 1] = 'cincinnati'
    if colley.iloc[i, 1] == 'tex tech':
        colley.iloc[i, 1] = 'texas tech'
    if colley.iloc[i, 1] == 'wvu':
        colley.iloc[i, 1] = 'west virginia'
    if colley.iloc[i, 1] == 'mich st':
        colley.iloc[i, 1] = 'michigan st'
    if colley.iloc[i, 1] == 'rh island':
        colley.iloc[i, 1] = 'rhode island'
    if colley.iloc[i, 1] == 'loyola chi':
        colley.iloc[i, 1] = 'loyola chicago'
    if colley.iloc[i, 1] == 'st bonny':
        colley.iloc[i, 1] = 'st bonaventure'
    if colley.iloc[i, 1] == 'miss st':
        colley.iloc[i, 1] = 'mississippi st'
    if colley.iloc[i, 1] == 'new mex st':
        colley.iloc[i, 1] = 'new mexico st'
    if colley.iloc[i, 1] == 'ariz st':
        colley.iloc[i, 1] = 'arizona st'
    if colley.iloc[i, 1] == 'okl st':
        colley.iloc[i, 1] = 'oklahoma st'
    if colley.iloc[i, 1] == 'odu':
        colley.iloc[i, 1] = 'old dominion'
    if colley.iloc[i, 1] == 'unc grnsbro':
        colley.iloc[i, 1] = 'unc greensboro'
    if colley.iloc[i, 1] == 'col chrlstn':
        colley.iloc[i, 1] = 'college of charleston'
    if colley.iloc[i, 1] == 'csu sacramento':
        colley.iloc[i, 1] = 'sacramento st'
    if colley.iloc[i, 1] == 'boston coll':
        colley.iloc[i, 1] = 'boston college'
    if colley.iloc[i, 1] == 's carolina':
        colley.iloc[i, 1] = 'south carolina'
    if colley.iloc[i, 1] == 'n eastern':
        colley.iloc[i, 1] = 'northeastern'
    if colley.iloc[i, 1] == 'ill st':
        colley.iloc[i, 1] = 'illinois st'
    if colley.iloc[i, 1] == 'east mich':
        colley.iloc[i, 1] = 'eastern michigan'
    if colley.iloc[i, 1] == 'ga st':
        colley.iloc[i, 1] = 'georgia st'
    if colley.iloc[i, 1] == 'cs full':
        colley.iloc[i, 1] = 'cal st fullerton'
    if colley.iloc[i, 1] == 'n iowa':
        colley.iloc[i, 1] = 'northern iowa'
    if colley.iloc[i, 1] == 'ga tech':
        colley.iloc[i, 1] = 'georgia tech'
    if colley.iloc[i, 1] == 'jax st':
        colley.iloc[i, 1] = 'jacksonville st'
    if colley.iloc[i, 1] == 'n western':
        colley.iloc[i, 1] = 'northwestern'
    if colley.iloc[i, 1] == 'tx arl':
        colley.iloc[i, 1] = 'ut arlington'
    if colley.iloc[i, 1] == 'unc ash':
        colley.iloc[i, 1] = 'unc asheville'
    if colley.iloc[i, 1] == 'ga sou':
        colley.iloc[i, 1] = 'georgia southern'
    if colley.iloc[i, 1] == 'cent mich':
        colley.iloc[i, 1] = 'central michigan'
    if colley.iloc[i, 1] == 'wash st':
        colley.iloc[i, 1] = 'washington st'
    if colley.iloc[i, 1] == 'e wash':
        colley.iloc[i, 1] = 'eastern washington'
    if colley.iloc[i, 1] == 'west mich':
        colley.iloc[i, 1] = 'western michigan'
    if colley.iloc[i, 1] == 'ca irvine':
        colley.iloc[i, 1] = 'uc irvine'
    if colley.iloc[i, 1] == 'geo wash':
        colley.iloc[i, 1] = 'george washington'
    if colley.iloc[i, 1] == 'tenn tech':
        colley.iloc[i, 1] = 'tennessee tech'
    if colley.iloc[i, 1] == 'se la':
        colley.iloc[i, 1] = 'se louisiana'
    if colley.iloc[i, 1] == 'valpo':
        colley.iloc[i, 1] = 'valparaiso'
    if colley.iloc[i, 1] == 'geo mason':
        colley.iloc[i, 1] = 'george mason'
    if colley.iloc[i, 1] == 'la tech':
        colley.iloc[i, 1] = 'louisiana tech'
    if colley.iloc[i, 1] == 'bowling grn':
        colley.iloc[i, 1] = 'bowling green'
    if colley.iloc[i, 1] == 'l beach st':
        colley.iloc[i, 1] = 'long beach st'
    if colley.iloc[i, 1] == 'tenn st':
        colley.iloc[i, 1] = 'tennessee st'
    if colley.iloc[i, 1] == 'n texas':
        colley.iloc[i, 1] = 'north texas'
    if colley.iloc[i, 1] == 'sam hstn st':
        colley.iloc[i, 1] = 'sam houston st'
    if colley.iloc[i, 1] == 's miss':
        colley.iloc[i, 1] = 'southern miss'
    if colley.iloc[i, 1] == 'st fran pa':
        colley.iloc[i, 1] = 'st francis pa'
    if colley.iloc[i, 1] == 'wi milw':
        colley.iloc[i, 1] = 'milwaukee'
    if colley.iloc[i, 1] == 'r morris':
        colley.iloc[i, 1] = 'robert morris'
    if colley.iloc[i, 1] == 'ecu':
        colley.iloc[i, 1] = 'east carolina'
    if colley.iloc[i, 1] == 'tx sou':
        colley.iloc[i, 1] = 'texas southern'
    if colley.iloc[i, 1] == 'loy marymnt':
        colley.iloc[i, 1] = 'loyola marymount'
    if colley.iloc[i, 1] == 's utah':
        colley.iloc[i, 1] = 'southern utah'
    if colley.iloc[i, 1] == 'appy st':
        colley.iloc[i, 1] = 'appalachian st'
    if colley.iloc[i, 1] == 'se missouri':
        colley.iloc[i, 1] = 'se missouri st'
    if colley.iloc[i, 1] == 'stony brk':
        colley.iloc[i, 1] = 'stony brook'
    if colley.iloc[i, 1] == 's florida':
        colley.iloc[i, 1] = 'south florida'
    if colley.iloc[i, 1] == 'gard webb':
        colley.iloc[i, 1] = 'gardner webb'
    if colley.iloc[i, 1] == 'unc wilm':
        colley.iloc[i, 1] = 'unc wilmington'
    if colley.iloc[i, 1] == 'beth cook':
        colley.iloc[i, 1] = 'bethune cookman'
    if colley.iloc[i, 1] == 'fl intl':
        colley.iloc[i, 1] = 'florida international'
    if colley.iloc[i, 1] == 'oral rob':
        colley.iloc[i, 1] = 'oral roberts'
    if colley.iloc[i, 1] == 's alabama':
        colley.iloc[i, 1] = 'south alabama'
    if colley.iloc[i, 1] == 'chrlstn sou':
        colley.iloc[i, 1] = 'charleston southern'
    if colley.iloc[i, 1] == 'clvlnd st':
        colley.iloc[i, 1] = 'cleveland st'
    if colley.iloc[i, 1] == 'fairl dcknsn':
        colley.iloc[i, 1] = 'fairleigh dickinson'
    if colley.iloc[i, 1] == 'jax':
        colley.iloc[i, 1] = 'jacksonville'
    if colley.iloc[i, 1] == 'cent conn st':
        colley.iloc[i, 1] = 'central conn st'
    if colley.iloc[i, 1] == 'west ill':
        colley.iloc[i, 1] = 'western illinois'
    if colley.iloc[i, 1] == 'ark st':
        colley.iloc[i, 1] = 'arkansas st'
    if colley.iloc[i, 1] == 'ut chat':
        colley.iloc[i, 1] = 'chattanooga'
    if colley.iloc[i, 1] == 'uc riv':
        colley.iloc[i, 1] = 'cal riverside'
    if colley.iloc[i, 1] == 'st fran ny':
        colley.iloc[i, 1] = 'st francis ny'
    if colley.iloc[i, 1] == 'wisc green bay':
        colley.iloc[i, 1] = 'green bay'
    if colley.iloc[i, 1] == 'yngstwn st':
        colley.iloc[i, 1] = 'youngstown st'
    if colley.iloc[i, 1] == 'ark l rock':
        colley.iloc[i, 1] = 'arkansas little rock'
    if colley.iloc[i, 1] == 'tx a&m cc':
        colley.iloc[i, 1] = 'a&m corpus chris'
    if colley.iloc[i, 1] == 'new hamp':
        colley.iloc[i, 1] = 'new hampshire'
    if colley.iloc[i, 1] == 'ar pine bluff':
        colley.iloc[i, 1] = 'arkansas pine bluff'
    if colley.iloc[i, 1] == 'ala a&m':
        colley.iloc[i, 1] = 'alabama a&m'
    if colley.iloc[i, 1] == 'miss vly st':
        colley.iloc[i, 1] = 'ms valley st'
    if colley.iloc[i, 1] == 'nw st':
        colley.iloc[i, 1] = 'northwestern st'
    if colley.iloc[i, 1] == 'ala st':
        colley.iloc[i, 1] = 'alabama st'
    if colley.iloc[i, 1] == 'sc st':
        colley.iloc[i, 1] = 'south carolina st'
    if colley.iloc[i, 1] == 'n arizona':
        colley.iloc[i, 1] = 'northern arizona'
    if colley.iloc[i, 1] == 'coll of charleston':
        colley.iloc[i, 1] = 'college of charleston'
    if colley.iloc[i, 1] == 'cent michigan':
        colley.iloc[i, 1] = 'central michigan'
    if colley.iloc[i, 1] == 'georgia sou':
        colley.iloc[i, 1] = 'georgia southern'
    if colley.iloc[i, 1] == 'ul lafayette':
        colley.iloc[i, 1] = 'lafayette'
    if colley.iloc[i, 1] == 'fl international':
        colley.iloc[i, 1] = 'fiu'
    if colley.iloc[i, 1] == 'texas arl':
        colley.iloc[i, 1] = 'ut arlington'
    if colley.iloc[i, 1] == 'east michigan':
        colley.iloc[i, 1] = 'eastern michigan'
    if colley.iloc[i, 1] == 'ul monroe':
        colley.iloc[i, 1] = 'louisiana monroe'
    if colley.iloc[i, 1] == 'illinois chi':
        colley.iloc[i, 1] = 'uic'
    if colley.iloc[i, 1] == 'calif baptist':
        colley.iloc[i, 1] = 'cal baptist'
    if colley.iloc[i, 1] == 'charelston sou':
        colley.iloc[i, 1] = 'charleston southern'
    if colley.iloc[i, 1] == 'st francis bkn':
        colley.iloc[i, 1] = 'st francis ny'
    if colley.iloc[i, 1] == 'ut chattanooga':
        colley.iloc[i, 1] = 'chattanooga'
    if colley.iloc[i, 1] == 'george wash':
        colley.iloc[i, 1] = 'george washington'
    if colley.iloc[i, 1] == 'west michigan':
        colley.iloc[i, 1] = 'western michigan'
    if colley.iloc[i, 1] == 'wisc milwaukee':
        colley.iloc[i, 1] = 'milwaukee'
    if colley.iloc[i, 1] == 'cent connecticut':
        colley.iloc[i, 1] = 'central connecticut'
    if colley.iloc[i, 1] == 'west illinois':
        colley.iloc[i, 1] = 'western illinois'

In [19]:
colley_teams = pd.merge(colley, spellings, how = 'left', left_on = 'team', right_on = 'TeamNameSpelling')
nans = lambda df: df[df.isnull().any(axis=1)]
nans(colley_teams)

Empty DataFrame
Columns: [rank, team, rating, season, TeamNameSpelling, TeamID]
Index: []

In [20]:
colley_teams = colley_teams.drop(columns = ['rank', 'TeamNameSpelling', 'team']).drop_duplicates()
colley_teams = colley_teams.rename(index = str, columns = {'rating': 'Colley_Rating', 'season': 'Season'})

In [21]:
for i in range(len(teamrank.Team)):
    if teamrank.iloc[i, 1] == 'st marys':
        teamrank.iloc[i, 1] = 'st marys ca'
    if teamrank.iloc[i, 1] == 'wins salem':
        teamrank.iloc[i, 1] = 'winston salem'
    if teamrank.iloc[i, 1] == 'w virginia':
        teamrank.iloc[i, 1] = 'west virginia'
    if teamrank.iloc[i, 1] == 'n carolina':
        teamrank.iloc[i, 1] = 'north carolina'
    if teamrank.iloc[i, 1] == 'tx christian':
        teamrank.iloc[i, 1] = 'tcu'
    if teamrank.iloc[i, 1] == 'va tech':
        teamrank.iloc[i, 1] = 'virginia tech'
    if teamrank.iloc[i, 1] == 'miss state':
        teamrank.iloc[i, 1] = 'mississippi st'
    if teamrank.iloc[i, 1] == 'st bonavent':
        teamrank.iloc[i, 1] = 'st bonaventure'
    if teamrank.iloc[i, 1] == 'loyola chi':
        teamrank.iloc[i, 1] = 'loyola chicago'
    if teamrank.iloc[i, 1] == 's methodist':
        teamrank.iloc[i, 1] = 'smu'
    if teamrank.iloc[i, 1] == 'n mex state':
        teamrank.iloc[i, 1] = 'new mexico st'
    if teamrank.iloc[i, 1] == 's carolina':
        teamrank.iloc[i, 1] = 'south carolina'
    if teamrank.iloc[i, 1] == 'boston col':
        teamrank.iloc[i, 1] = 'boston college'
    if teamrank.iloc[i, 1] == 'e tenn st':
        teamrank.iloc[i, 1] = 'etsu'
    if teamrank.iloc[i, 1] == 'nc grnsboro':
        teamrank.iloc[i, 1] = 'unc greensboro'
    if teamrank.iloc[i, 1] == 'central fl':
        teamrank.iloc[i, 1] = 'ucf'
    if teamrank.iloc[i, 1] == 'utah val st':
        teamrank.iloc[i, 1] = 'utah valley st'
    if teamrank.iloc[i, 1] == 'northeastrn':
        teamrank.iloc[i, 1] = 'northeastern'
    if teamrank.iloc[i, 1] == 'ga tech':
        teamrank.iloc[i, 1] = 'georgia tech'
    if teamrank.iloc[i, 1] == 'col charlestn':
        teamrank.iloc[i, 1] = 'college of charleston'
    if teamrank.iloc[i, 1] == 'st josephs':
        teamrank.iloc[i, 1] = 'st josephs pa'
    if teamrank.iloc[i, 1] == 'u penn':
        teamrank.iloc[i, 1] = 'penn'
    if teamrank.iloc[i, 1] == 'ste f austin':
        teamrank.iloc[i, 1] = 'stephen f austin'
    if teamrank.iloc[i, 1] == 'fla gulf cst':
        teamrank.iloc[i, 1] = 'florida gulf coast'
    if teamrank.iloc[i, 1] == 'grd canyon':
        teamrank.iloc[i, 1] = 'grand canyon'
    if teamrank.iloc[i, 1] == 'tx arlington':
        teamrank.iloc[i, 1] = 'ut arlington'
    if teamrank.iloc[i, 1] == 'n iowa':
        teamrank.iloc[i, 1] = 'northern iowa'
    if teamrank.iloc[i, 1] == 'la tech':
        teamrank.iloc[i, 1] = 'louisiana tech'
    if teamrank.iloc[i, 1] == 'wm & mary':
        teamrank.iloc[i, 1] = 'william & mary'
    if teamrank.iloc[i, 1] == 'jksnville st':
        teamrank.iloc[i, 1] = 'jacksonville st'
    if teamrank.iloc[i, 1] == 'app state':
        teamrank.iloc[i, 1] = 'appalachian st'
    if teamrank.iloc[i, 1] == 'san fransco':
        teamrank.iloc[i, 1] = 'san francisco'
    if teamrank.iloc[i, 1] == 'e washingtn':
        teamrank.iloc[i, 1] = 'eastern washington'
    if teamrank.iloc[i, 1] == 'geo wshgtn':
        teamrank.iloc[i, 1] = 'george washington'
    if teamrank.iloc[i, 1] == 'u mass':
        teamrank.iloc[i, 1] = 'umass'
    if teamrank.iloc[i, 1] == 'maryland bc':
        teamrank.iloc[i, 1] = 'umbc'
    if teamrank.iloc[i, 1] == 'wash state':
        teamrank.iloc[i, 1] = 'washington st'
    if teamrank.iloc[i, 1] == 'tx san ant':
        teamrank.iloc[i, 1] = 'utsa'
    if teamrank.iloc[i, 1] == 'st fran pa':
        teamrank.iloc[i, 1] = 'st francis pa'
    if teamrank.iloc[i, 1] == 'miami oh':
        teamrank.iloc[i, 1] = 'miami ohio'
    if teamrank.iloc[i, 1] == 'geo mason':
        teamrank.iloc[i, 1] = 'george mason'
    if teamrank.iloc[i, 1] == 'wi milwkee':
        teamrank.iloc[i, 1] = 'milwaukee'
    if teamrank.iloc[i, 1] == 'tn state':
        teamrank.iloc[i, 1] = 'tennessee st'
    if teamrank.iloc[i, 1] == 'tn tech':
        teamrank.iloc[i, 1] = 'tennessee tech'
    if teamrank.iloc[i, 1] == 'nc wilmgton':
        teamrank.iloc[i, 1] = 'unc wilmington'
    if teamrank.iloc[i, 1] == 's alabama':
        teamrank.iloc[i, 1] = 'south alabama'
    if teamrank.iloc[i, 1] == 'lg beach st':
        teamrank.iloc[i, 1] = 'long beach st'
    if teamrank.iloc[i, 1] == 'james mad':
        teamrank.iloc[i, 1] = 'james madison'
    if teamrank.iloc[i, 1] == 'sam hous st':
        teamrank.iloc[i, 1] = 'sam houston st'
    if teamrank.iloc[i, 1] == 'cs bakersfld':
        teamrank.iloc[i, 1] = 'cal state bakersfield'
    if teamrank.iloc[i, 1] == 'loyola mymt':
        teamrank.iloc[i, 1] = 'loyola marymount'
    if teamrank.iloc[i, 1] == 's mississippi':
        teamrank.iloc[i, 1] = 'southern miss'
    if teamrank.iloc[i, 1] == 'bowling grn':
        teamrank.iloc[i, 1] = 'bowling green'
    if teamrank.iloc[i, 1] == 'tx el paso':
        teamrank.iloc[i, 1] = 'utep'
    if teamrank.iloc[i, 1] == 'n hampshire':
        teamrank.iloc[i, 1] = 'new hampshire'
    if teamrank.iloc[i, 1] == 'rob morris':
        teamrank.iloc[i, 1] = 'robert morris'
    if teamrank.iloc[i, 1] == 'wi grn bay':
        teamrank.iloc[i, 1] = 'green bay'
    if teamrank.iloc[i, 1] == 'charl south':
        teamrank.iloc[i, 1] = 'charleston southern'
    if teamrank.iloc[i, 1] == 'abl christian':
        teamrank.iloc[i, 1] = 'abilene christian'
    if teamrank.iloc[i, 1] == 'gard webb':
        teamrank.iloc[i, 1] = 'gardner webb'
    if teamrank.iloc[i, 1] == 'tx pan am':
        teamrank.iloc[i, 1] = 'texas pan american'
    if teamrank.iloc[i, 1] == 'se missouri':
        teamrank.iloc[i, 1] = 'se missouri st'
    if teamrank.iloc[i, 1] == 'neb omaha':
        teamrank.iloc[i, 1] = 'omaha'
    if teamrank.iloc[i, 1] == 's florida':
        teamrank.iloc[i, 1] = 'south florida'
    if teamrank.iloc[i, 1] == 'mass lowell':
        teamrank.iloc[i, 1] = 'umass lowell'
    if teamrank.iloc[i, 1] == 'e carolina':
        teamrank.iloc[i, 1] = 'east carolina'
    if teamrank.iloc[i, 1] == 'tx a&m cc':
        teamrank.iloc[i, 1] = 'a&m corpus chris'
    if teamrank.iloc[i, 1] == 's utah':
        teamrank.iloc[i, 1] = 'southern utah'
    if teamrank.iloc[i, 1] == 'n florida':
        teamrank.iloc[i, 1] = 'north florida'
    if teamrank.iloc[i, 1] == 'sacred hrt':
        teamrank.iloc[i, 1] = 'sacred heart'
    if teamrank.iloc[i, 1] == 'st fran ny':
        teamrank.iloc[i, 1] = 'st francis ny'
    if teamrank.iloc[i, 1] == 'ar lit rock':
        teamrank.iloc[i, 1] = 'arkansas little rock'
    if teamrank.iloc[i, 1] == 'beth cook':
        teamrank.iloc[i, 1] = 'bethune cookman'
    if teamrank.iloc[i, 1] == 'sac state':
        teamrank.iloc[i, 1] = 'sacramento st'
    if teamrank.iloc[i, 1] == 'siu edward':
        teamrank.iloc[i, 1] = 'southern illinois'
    if teamrank.iloc[i, 1] == 'youngs st':
        teamrank.iloc[i, 1] = 'youngstown st'
    if teamrank.iloc[i, 1] == 'nw state':
        teamrank.iloc[i, 1] = 'northwestern st'
    if teamrank.iloc[i, 1] == 'cal st nrdge':
        teamrank.iloc[i, 1] = 'cal st northridge'
    if teamrank.iloc[i, 1] == 'ark pine bl':
        teamrank.iloc[i, 1] = 'arkansas pine bluff'
    if teamrank.iloc[i, 1] == 'va military':
        teamrank.iloc[i, 1] = 'vmi'
    if teamrank.iloc[i, 1] == 'incar word':
        teamrank.iloc[i, 1] = 'incarnate word'
    if teamrank.iloc[i, 1] == 'n arizona':
        teamrank.iloc[i, 1] = 'northern arizona' 
    if teamrank.iloc[i, 1] == 's car state':
        teamrank.iloc[i, 1] = 'south carolina state'
    if teamrank.iloc[i, 1] == 'nw st':
        teamrank.iloc[i, 1] = 'northwestern st'
    if teamrank.iloc[i, 1] == 'miss val st':
        teamrank.iloc[i, 1] = 'miss valley st'
    if teamrank.iloc[i, 1] == 'maryland es':
        teamrank.iloc[i, 1] = 'umes'
    if teamrank.iloc[i, 1] == 'alab a&m':
        teamrank.iloc[i, 1] = 'alabama a&m'

In [22]:
teamrank_teams = pd.merge(teamrank, spellings, how = 'left', left_on = 'Team', right_on = 'TeamNameSpelling')
nans(teamrank_teams)

Empty DataFrame
Columns: [Rank, Team, Rating, Season, TeamNameSpelling, TeamID]
Index: []

In [23]:
teamrank_teams = teamrank_teams.drop(columns = ['Rank', 'TeamNameSpelling', 'Team']).drop_duplicates()
teamrank_teams = teamrank_teams.rename(index = str, columns = {'Rating': 'Teamrank_Rating'})

In [24]:
for i in range(len(teamrank10.Team)):
    if teamrank10.iloc[i, 1] == 'st marys':
        teamrank10.iloc[i, 1] = 'st marys ca'
    if teamrank10.iloc[i, 1] == 'wins salem':
        teamrank10.iloc[i, 1] = 'winston salem'
    if teamrank10.iloc[i, 1] == 'w virginia':
        teamrank10.iloc[i, 1] = 'west virginia'
    if teamrank10.iloc[i, 1] == 'n carolina':
        teamrank10.iloc[i, 1] = 'north carolina'
    if teamrank10.iloc[i, 1] == 'tx christian':
        teamrank10.iloc[i, 1] = 'tcu'
    if teamrank10.iloc[i, 1] == 'va tech':
        teamrank10.iloc[i, 1] = 'virginia tech'
    if teamrank10.iloc[i, 1] == 'miss state':
        teamrank10.iloc[i, 1] = 'mississippi st'
    if teamrank10.iloc[i, 1] == 'st bonavent':
        teamrank10.iloc[i, 1] = 'st bonaventure'
    if teamrank10.iloc[i, 1] == 'loyola chi':
        teamrank10.iloc[i, 1] = 'loyola chicago'
    if teamrank10.iloc[i, 1] == 's methodist':
        teamrank10.iloc[i, 1] = 'smu'
    if teamrank10.iloc[i, 1] == 'n mex state':
        teamrank10.iloc[i, 1] = 'new mexico st'
    if teamrank10.iloc[i, 1] == 's carolina':
        teamrank10.iloc[i, 1] = 'south carolina'
    if teamrank10.iloc[i, 1] == 'boston col':
        teamrank10.iloc[i, 1] = 'boston college'
    if teamrank10.iloc[i, 1] == 'e tenn st':
        teamrank10.iloc[i, 1] = 'etsu'
    if teamrank10.iloc[i, 1] == 'nc grnsboro':
        teamrank10.iloc[i, 1] = 'unc greensboro'
    if teamrank10.iloc[i, 1] == 'central fl':
        teamrank10.iloc[i, 1] = 'ucf'
    if teamrank10.iloc[i, 1] == 'utah val st':
        teamrank10.iloc[i, 1] = 'utah valley st'
    if teamrank10.iloc[i, 1] == 'northeastrn':
        teamrank10.iloc[i, 1] = 'northeastern'
    if teamrank10.iloc[i, 1] == 'ga tech':
        teamrank10.iloc[i, 1] = 'georgia tech'
    if teamrank10.iloc[i, 1] == 'col charlestn':
        teamrank10.iloc[i, 1] = 'college of charleston'
    if teamrank10.iloc[i, 1] == 'st josephs':
        teamrank10.iloc[i, 1] = 'st josephs pa'
    if teamrank10.iloc[i, 1] == 'u penn':
        teamrank10.iloc[i, 1] = 'penn'
    if teamrank10.iloc[i, 1] == 'ste f austin':
        teamrank10.iloc[i, 1] = 'stephen f austin'
    if teamrank10.iloc[i, 1] == 'fla gulf cst':
        teamrank10.iloc[i, 1] = 'florida gulf coast'
    if teamrank10.iloc[i, 1] == 'grd canyon':
        teamrank10.iloc[i, 1] = 'grand canyon'
    if teamrank10.iloc[i, 1] == 'tx arlington':
        teamrank10.iloc[i, 1] = 'ut arlington'
    if teamrank10.iloc[i, 1] == 'n iowa':
        teamrank10.iloc[i, 1] = 'northern iowa'
    if teamrank10.iloc[i, 1] == 'la tech':
        teamrank10.iloc[i, 1] = 'louisiana tech'
    if teamrank10.iloc[i, 1] == 'wm & mary':
        teamrank10.iloc[i, 1] = 'william & mary'
    if teamrank10.iloc[i, 1] == 'jksnville st':
        teamrank10.iloc[i, 1] = 'jacksonville st'
    if teamrank10.iloc[i, 1] == 'app state':
        teamrank10.iloc[i, 1] = 'appalachian st'
    if teamrank10.iloc[i, 1] == 'san fransco':
        teamrank10.iloc[i, 1] = 'san francisco'
    if teamrank10.iloc[i, 1] == 'e washingtn':
        teamrank10.iloc[i, 1] = 'eastern washington'
    if teamrank10.iloc[i, 1] == 'geo wshgtn':
        teamrank10.iloc[i, 1] = 'george washington'
    if teamrank10.iloc[i, 1] == 'u mass':
        teamrank10.iloc[i, 1] = 'umass'
    if teamrank10.iloc[i, 1] == 'maryland bc':
        teamrank10.iloc[i, 1] = 'umbc'
    if teamrank10.iloc[i, 1] == 'wash state':
        teamrank10.iloc[i, 1] = 'washington st'
    if teamrank10.iloc[i, 1] == 'tx san ant':
        teamrank10.iloc[i, 1] = 'utsa'
    if teamrank10.iloc[i, 1] == 'st fran pa':
        teamrank10.iloc[i, 1] = 'st francis pa'
    if teamrank10.iloc[i, 1] == 'miami oh':
        teamrank10.iloc[i, 1] = 'miami ohio'
    if teamrank10.iloc[i, 1] == 'geo mason':
        teamrank10.iloc[i, 1] = 'george mason'
    if teamrank10.iloc[i, 1] == 'wi milwkee':
        teamrank10.iloc[i, 1] = 'milwaukee'
    if teamrank10.iloc[i, 1] == 'tn state':
        teamrank10.iloc[i, 1] = 'tennessee st'
    if teamrank10.iloc[i, 1] == 'tn tech':
        teamrank10.iloc[i, 1] = 'tennessee tech'
    if teamrank10.iloc[i, 1] == 'nc wilmgton':
        teamrank10.iloc[i, 1] = 'unc wilmington'
    if teamrank10.iloc[i, 1] == 's alabama':
        teamrank10.iloc[i, 1] = 'south alabama'
    if teamrank10.iloc[i, 1] == 'lg beach st':
        teamrank10.iloc[i, 1] = 'long beach st'
    if teamrank10.iloc[i, 1] == 'james mad':
        teamrank10.iloc[i, 1] = 'james madison'
    if teamrank10.iloc[i, 1] == 'sam hous st':
        teamrank10.iloc[i, 1] = 'sam houston st'
    if teamrank10.iloc[i, 1] == 'cs bakersfld':
        teamrank10.iloc[i, 1] = 'cal state bakersfield'
    if teamrank10.iloc[i, 1] == 'loyola mymt':
        teamrank10.iloc[i, 1] = 'loyola marymount'
    if teamrank10.iloc[i, 1] == 's mississippi':
        teamrank10.iloc[i, 1] = 'southern miss'
    if teamrank10.iloc[i, 1] == 'bowling grn':
        teamrank10.iloc[i, 1] = 'bowling green'
    if teamrank10.iloc[i, 1] == 'tx el paso':
        teamrank10.iloc[i, 1] = 'utep'
    if teamrank10.iloc[i, 1] == 'n hampshire':
        teamrank10.iloc[i, 1] = 'new hampshire'
    if teamrank10.iloc[i, 1] == 'rob morris':
        teamrank10.iloc[i, 1] = 'robert morris'
    if teamrank10.iloc[i, 1] == 'wi grn bay':
        teamrank10.iloc[i, 1] = 'green bay'
    if teamrank10.iloc[i, 1] == 'charl south':
        teamrank10.iloc[i, 1] = 'charleston southern'
    if teamrank10.iloc[i, 1] == 'abl christian':
        teamrank10.iloc[i, 1] = 'abilene christian'
    if teamrank10.iloc[i, 1] == 'gard webb':
        teamrank10.iloc[i, 1] = 'gardner webb'
    if teamrank10.iloc[i, 1] == 'tx pan am':
        teamrank10.iloc[i, 1] = 'texas pan american'
    if teamrank10.iloc[i, 1] == 'se missouri':
        teamrank10.iloc[i, 1] = 'se missouri st'
    if teamrank10.iloc[i, 1] == 'neb omaha':
        teamrank10.iloc[i, 1] = 'omaha'
    if teamrank10.iloc[i, 1] == 's florida':
        teamrank10.iloc[i, 1] = 'south florida'
    if teamrank10.iloc[i, 1] == 'mass lowell':
        teamrank10.iloc[i, 1] = 'umass lowell'
    if teamrank10.iloc[i, 1] == 'e carolina':
        teamrank10.iloc[i, 1] = 'east carolina'
    if teamrank10.iloc[i, 1] == 'tx a&m cc':
        teamrank10.iloc[i, 1] = 'a&m corpus chris'
    if teamrank10.iloc[i, 1] == 's utah':
        teamrank10.iloc[i, 1] = 'southern utah'
    if teamrank10.iloc[i, 1] == 'n florida':
        teamrank10.iloc[i, 1] = 'north florida'
    if teamrank10.iloc[i, 1] == 'sacred hrt':
        teamrank10.iloc[i, 1] = 'sacred heart'
    if teamrank10.iloc[i, 1] == 'st fran ny':
        teamrank10.iloc[i, 1] = 'st francis ny'
    if teamrank10.iloc[i, 1] == 'ar lit rock':
        teamrank10.iloc[i, 1] = 'arkansas little rock'
    if teamrank10.iloc[i, 1] == 'beth cook':
        teamrank10.iloc[i, 1] = 'bethune cookman'
    if teamrank10.iloc[i, 1] == 'sac state':
        teamrank10.iloc[i, 1] = 'sacramento st'
    if teamrank10.iloc[i, 1] == 'siu edward':
        teamrank10.iloc[i, 1] = 'southern illinois'
    if teamrank10.iloc[i, 1] == 'youngs st':
        teamrank10.iloc[i, 1] = 'youngstown st'
    if teamrank10.iloc[i, 1] == 'nw state':
        teamrank10.iloc[i, 1] = 'northwestern st'
    if teamrank10.iloc[i, 1] == 'cal st nrdge':
        teamrank10.iloc[i, 1] = 'cal st northridge'
    if teamrank10.iloc[i, 1] == 'ark pine bl':
        teamrank10.iloc[i, 1] = 'arkansas pine bluff'
    if teamrank10.iloc[i, 1] == 'va military':
        teamrank10.iloc[i, 1] = 'vmi'
    if teamrank10.iloc[i, 1] == 'incar word':
        teamrank10.iloc[i, 1] = 'incarnate word'
    if teamrank10.iloc[i, 1] == 'n arizona':
        teamrank10.iloc[i, 1] = 'northern arizona' 
    if teamrank10.iloc[i, 1] == 's car state':
        teamrank10.iloc[i, 1] = 'south carolina state'
    if teamrank10.iloc[i, 1] == 'nw st':
        teamrank10.iloc[i, 1] = 'northwestern st'
    if teamrank10.iloc[i, 1] == 'miss val st':
        teamrank10.iloc[i, 1] = 'miss valley st'
    if teamrank10.iloc[i, 1] == 'maryland es':
        teamrank10.iloc[i, 1] = 'umes'
    if teamrank10.iloc[i, 1] == 'alab a&m':
        teamrank10.iloc[i, 1] = 'alabama a&m'

In [25]:
teamrank10_teams = pd.merge(teamrank10, spellings, how = 'left', left_on = 'Team', right_on = 'TeamNameSpelling')
nans(teamrank10_teams)

Empty DataFrame
Columns: [Rank, Team, Rating, Season, TeamNameSpelling, TeamID]
Index: []

In [26]:
teamrank10_teams = teamrank10_teams.drop(columns = ['Rank', 'TeamNameSpelling', 'Team']).drop_duplicates()
teamrank10_teams = teamrank10_teams.rename(index = str, columns = {'Rating': 'Teamrank10_Rating'})

In [27]:
for i in range(len(trank.TEAM)):
    if trank.iloc[i, 1] == 'winston salem st':
        trank.iloc[i, 1] = 'winston salem'
    if trank.iloc[i, 1] == 'cal st bakersfield':
        trank.iloc[i, 1] = 'cal state bakersfield'
    if trank.iloc[i, 1] == 'southeast missouri st':
        trank.iloc[i, 1] = 'se missouri st'
    if trank.iloc[i, 1] == 'ut rio grande valley':
        trank.iloc[i, 1] = 'texas rio grande valley'
    if trank.iloc[i, 1] == 'texas a&m corpus chris':
        trank.iloc[i, 1] = 'a&m corpus chris'
    if trank.iloc[i, 1] == 'mississippi valley st':
        trank.iloc[i, 1] = 'miss valley st'

In [28]:
trank_teams = pd.merge(trank, spellings, how = 'left', left_on = 'TEAM', right_on = 'TeamNameSpelling')
nans(trank_teams)

Empty DataFrame
Columns: [RK, TEAM, ADJOE, ADJDE, BARTHAG, EFG%, EFGD%, TOR, TORD, ORB, DRB, FTR, FTRD, 2P%, 2P%D, 3P%, 3P%D, ADJ T., WAB, Season, TeamNameSpelling, TeamID]
Index: []

[0 rows x 22 columns]

In [29]:
trank_teams = trank_teams.drop(columns = ['RK', 'WAB', 'TeamNameSpelling', 'TEAM']).drop_duplicates()
trank_teams = trank_teams.rename(index = str, columns = {'BARTHAG': 'Trank_Rating', 'ADJOE': 'Trank_OE', 'ADJDE': 'Trank_DE', 'ADJ T.': 'Trank_Tempo'})

In [30]:
for i in range(len(kenpom.TeamName)):
    if kenpom.iloc[i, 1] == 'winston salem st':
        kenpom.iloc[i, 1] = 'winston salem'
    if kenpom.iloc[i, 1] == 'cal st bakersfield':
        kenpom.iloc[i, 1] = 'cal state bakersfield'
    if kenpom.iloc[i, 1] == 'mississippi valley st':
        kenpom.iloc[i, 1] = 'miss valley st'
    if kenpom.iloc[i, 1] == 'southeast missouri st':
        kenpom.iloc[i, 1] = 'se missouri st'
    if kenpom.iloc[i, 1] == 'texas a&m corpus chris':
        kenpom.iloc[i, 1] = 'a&m corpus chris'
    if kenpom.iloc[i, 1] == 'ut rio grande valley':
        kenpom.iloc[i, 1] = 'texas rio grande valley'

In [31]:
kenpom_teams = pd.merge(kenpom, spellings, how = 'left', left_on = 'TeamName', right_on = 'TeamNameSpelling')
kenpom_teams[kenpom_teams['TeamID'].isnull()]

Empty DataFrame
Columns: [Season, TeamName, Tempo, RankTempo, AdjTempo, RankAdjTempo, OE, RankOE, AdjOE, RankAdjOE, DE, RankDE, AdjDE, RankAdjDE, AdjEM, RankAdjEM, seed, TeamNameSpelling, TeamID]
Index: []

In [32]:
kenpom_teams = kenpom_teams.drop(columns = ['Tempo', 'RankTempo', 'RankAdjTempo', 'OE', 'RankOE', 'RankAdjOE', 'DE', 'RankDE', 'RankAdjDE', 'RankAdjEM', 'TeamNameSpelling']).drop_duplicates()
kenpom_teams = kenpom_teams.rename(index = str, columns = {'TeamName': 'Team', 'AdjTempo': 'Kenpom_Tempo', 'AdjOE': 'Kenpom_OE', 'AdjDE': 'Kenpom_DE', 'AdjEM': 'Kenpom_Rating'})

In [33]:
teams = pd.merge(colley_teams, teamrank_teams, on = ['TeamID', 'Season'])
teams = pd.merge(teams, teamrank10_teams, on = ['TeamID', 'Season'])
teams = pd.merge(teams, trank_teams, on = ['TeamID', 'Season'])
teams = pd.merge(teams, kenpom_teams, on = ['TeamID', 'Season'])

In [34]:
scale = MinMaxScaler()
scale_columns = ['Colley_Rating', 'Teamrank_Rating', 'Teamrank10_Rating', 'Trank_Rating', 'Kenpom_Rating']
pd.options.mode.chained_assignment = None
teams[scale_columns] = scale.fit_transform(teams[scale_columns])
pd.options.mode.chained_assignment = 'warn'

In [35]:
ranking_data = pd.read_csv('mydata/ranking_data.csv')
tournament_data = pd.read_csv('DataFiles/NCAATourneyCompactResults.csv')

In [36]:
tournament_data = tournament_data.query('Season > 2009 | Season == 2008').drop(columns = ['DayNum', 'WLoc', 'NumOT'])

In [37]:
game_data = pd.merge(tournament_data, ranking_data, left_on = ['Season', 'WTeamID'], right_on = ['Season', 'TeamID'])
game_data = pd.merge(game_data, ranking_data, left_on = ['Season', 'LTeamID'], right_on = ['Season', 'TeamID'])

In [38]:
game_data['Colley_Diff'] = game_data['Colley_Rating_x'] - game_data['Colley_Rating_y']
game_data['Teamrank_Diff'] = game_data['Teamrank_Rating_x'] - game_data['Teamrank_Rating_y']
game_data['Teamrank10_Diff'] = game_data['Teamrank10_Rating_x'] - game_data['Teamrank10_Rating_y']
game_data['Trank_Diff'] = game_data['Trank_Rating_x'] - game_data['Trank_Rating_y']
game_data['Kenpom_Diff'] = game_data['Kenpom_Rating_x'] - game_data['Kenpom_Rating_y']
game_data['Score_Diff'] = game_data['WScore'] - game_data['LScore']
regression_data = game_data[['Colley_Diff', 'Teamrank_Diff', 'Teamrank10_Diff', 'Trank_Diff', 'Kenpom_Diff', 'Score_Diff']]

In [39]:
y = regression_data.Score_Diff
X = regression_data.drop(columns = ['Score_Diff'])

In [40]:
reg = RidgeCV(cv = 10, fit_intercept = False, alphas = [.01, .03, .1, .3, 1, 3, 10]).fit(X, y)

In [41]:
reg.alpha_

3

In [42]:
reg.coef_

array([ 8.14048469, 11.721807  ,  4.04637494, 13.33343004,  7.61341964])

In [43]:
weights = reg.coef_
teams['Weighted_Rating'] = weights[0] * teams['Colley_Rating'] + weights[1] * teams['Teamrank_Rating'] + weights[2] * teams['Teamrank10_Rating'] + weights[3] * teams['Trank_Rating'] + weights[4] * teams['Kenpom_Rating']

In [44]:
reg_season = pd.read_csv('Stage2DataFiles/RegularSeasonDetailedResults.csv')

In [45]:
reg_season = reg_season.query('Season == 2019')

In [46]:
my_data = reg_season[['WTeamID', 'LTeamID', 'WFGM', 'LFGM', 'WFGA', 'LFGA', 'WFGA3', 'LFGA3', 'WFTM', 'LFTM', 'WFTA', 'LFTA', 'WAst', 'LAst']]

In [47]:
w_data = my_data.groupby(['WTeamID']).sum().drop(columns = ['LTeamID']).reset_index()
l_data = my_data.groupby(['LTeamID']).sum().drop(columns = ['WTeamID']).reset_index()

In [48]:
wl_data = pd.merge(w_data, l_data, left_on = ['WTeamID'], right_on = ['LTeamID'], how = 'inner')

In [49]:
stats = pd.DataFrame()
stats['TeamID'] = wl_data['WTeamID']
stats['3ptRate'] = (wl_data['WFGA3_x'] + wl_data['LFGA3_y']) / (wl_data['WFGA_x'] + wl_data['LFGA_y'])
stats['Ast%'] = (wl_data['WAst_x'] + wl_data['LAst_y']) / (wl_data['WFGM_x'] + wl_data['LFGM_y'])
stats['FT%'] = (wl_data['WFTM_x'] + wl_data['LFTM_y']) / (wl_data['WFTA_x'] + wl_data['LFTA_y'])
stats['Opp3ptRate'] = (wl_data['WFGA3_y'] + wl_data['LFGA3_x']) / (wl_data['WFGA_y'] + wl_data['LFGA_x'])
stats['OppAst%'] = (wl_data['WAst_y'] + wl_data['LAst_x']) / (wl_data['WFGM_y'] + wl_data['LFGM_x'])

In [50]:
stats.head()

   TeamID   3ptRate      Ast%       FT%  Opp3ptRate   OppAst%
0    1101  0.342072  0.576871  0.723327    0.334457  0.493865
1    1102  0.405248  0.537158  0.680412    0.464509  0.547051
2    1103  0.475616  0.498652  0.712871    0.380477  0.441504
3    1104  0.366738  0.484885  0.667590    0.325877  0.434884
4    1105  0.318760  0.521739  0.626932    0.384393  0.535142

In [51]:
teams = pd.merge(teams, stats, on = ['TeamID'])

In [52]:
teams.head()

,Colley_Rating,Season,TeamID,Teamrank_Rating,Teamrank10_Rating,Trank_OE,Trank_DE,Trank_Rating,EFG%,EFGD%,...,Kenpom_OE,Kenpom_DE,Kenpom_Rating,seed,Weighted_Rating,3ptRate,Ast%,FT%,Opp3ptRate,OppAst%
0,1.000000,2019,1181,1.000000,0.870056,119.4,88.2,0.991432,53.4,44.6,...,120.1,88.2,0.944061,1.0,43.789593,0.376438,0.521697,0.689747,0.346384,0.487179
1,0.988705,2019,1438,0.980645,0.979284,123.6,88.7,1.000000,55.7,43.5,...,123.6,88.1,1.000000,1.0,44.452875,0.386589,0.565854,0.746154,0.408955,0.438679
2,0.961413,2019,1397,0.888172,0.819209,122.8,94.7,0.972393,55.3,47.4,...,122.6,95.6,0.869732,2.0,41.139138,0.318343,0.609184,0.767020,0.397646,0.522727
3,0.954943,2019,1314,0.956989,1.000000,120.6,90.5,0.985403,52.9,48.3,...,119.9,90.8,0.900690,1.0,43.033846,0.358405,0.612903,0.741557,0.424565,0.546199
4,0.952512,2019,1277,0.933333,0.937853,120.4,91.5,0.979797,55.8,43.7,...,121.8,90.5,0.935019,2.0,42.671913,0.378086,0.682203,0.750000,0.370353,0.530895

In [53]:
teams = teams.dropna(subset = ['seed'])
teams = teams.drop(columns = ['Team', 'Season'])

In [54]:
ratings = teams[['TeamID', 'Weighted_Rating']]

# Matchup Data Cleaning

Now we will create the matchup data to make the predictions.

In [55]:
# This is the submission file to fill out for Kaggle
data19 = pd.read_csv('DataFiles/SampleSubmissionStage2.csv')

In [56]:
data19['TeamID_x'] = -1
data19['TeamID_y'] = -1
for i in range(len(data19.ID)):
    idstring = data19.iloc[i, 0]  # Game ID in the form year_teamID1_teamID2
    infolist = idstring.split('_')
    data19.iloc[i, 2] = int(infolist[1]) # TeamID_x
    data19.iloc[i, 3] = int(infolist[2]) # TeamID_y

In [57]:
game_data = pd.merge(data19, ratings, left_on = ['TeamID_x'], right_on = ['TeamID'])
game_data = pd.merge(game_data, ratings, left_on = ['TeamID_y'], right_on = ['TeamID'])
game_data = game_data.loc[:,~game_data.columns.duplicated()]  # Deletes duplicate columns

In [58]:
game_data.head()

,ID,Pred,TeamID_x,TeamID_y,Weighted_Rating_x,Weighted_Rating_y
0,2019_1101_1113,0.5,1101,1113,23.406039,32.090093
1,2019_1101_1120,0.5,1101,1120,23.406039,39.202136
2,2019_1113_1120,0.5,1113,1120,32.090093,39.202136
3,2019_1101_1124,0.5,1101,1124,23.406039,33.253156
4,2019_1113_1124,0.5,1113,1124,32.090093,33.253156

In [59]:
# Switches the team with the highest weighted rating to be teamID_x
for i in range(len(game_data)):
    if game_data.iloc[i, 4] < game_data.iloc[i, 5]:
        underdog = game_data.iloc[i, 2]
        favorite = game_data.iloc[i, 3]
        game_data.iloc[i, 2] = favorite
        game_data.iloc[i, 3] = underdog
        underdog = game_data.iloc[i, 4]
        favorite = game_data.iloc[i, 5]
        game_data.iloc[i, 4] = favorite
        game_data.iloc[i, 5] = underdog

In [60]:
game_data = pd.merge(game_data, teams, left_on = ['TeamID_x'], right_on = ['TeamID'])
game_data = pd.merge(game_data, teams, left_on = ['TeamID_y'], right_on = ['TeamID'])

In [61]:
game_data = game_data.loc[:,~game_data.columns.duplicated()]  # Removes duplicate columns

In [62]:
game_data.head()

,ID,Pred,TeamID_x,TeamID_y,Weighted_Rating_x,Weighted_Rating_y,Colley_Rating_x,Teamrank_Rating_x,Teamrank10_Rating_x,Trank_OE_x,...,Kenpom_Tempo_y,Kenpom_OE_y,Kenpom_DE_y,Kenpom_Rating_y,seed_y,3ptRate_y,Ast%_y,FT%_y,Opp3ptRate_y,OppAst%_y
0,2019_1101_1113,0.5,1113,1101,32.090093,23.406039,0.740130,0.688172,0.709981,109.0,...,65.9,103.7,101.6,0.486897,15.0,0.342072,0.576871,0.723327,0.334457,0.493865
1,2019_1101_1120,0.5,1120,1101,39.202136,23.406039,0.865043,0.847312,0.834275,119.8,...,65.9,103.7,101.6,0.486897,15.0,0.342072,0.576871,0.723327,0.334457,0.493865
2,2019_1101_1124,0.5,1124,1101,33.253156,23.406039,0.724769,0.705376,0.649718,113.1,...,65.9,103.7,101.6,0.486897,15.0,0.342072,0.576871,0.723327,0.334457,0.493865
3,2019_1101_1125,0.5,1125,1101,32.637889,23.406039,0.720655,0.662366,0.772128,114.2,...,65.9,103.7,101.6,0.486897,15.0,0.342072,0.576871,0.723327,0.334457,0.493865
4,2019_1101_1138,0.5,1138,1101,37.437160,23.406039,0.881330,0.774194,0.822976,113.3,...,65.9,103.7,101.6,0.486897,15.0,0.342072,0.576871,0.723327,0.334457,0.493865

In [63]:
# Start with the stats for each team
matchups = game_data.drop(columns = ['TeamID_x', 'TeamID_y','ID', 'Pred'])

# Predictors

# Difference in NCAA tournament Seeds
matchups['SeedDiff'] = matchups['seed_x'] - matchups['seed_y']

# Difference in efficiency Metrics
matchups['WeightedRatingDiff'] = game_data['Weighted_Rating_x'] - game_data['Weighted_Rating_y']
matchups['ColleyRatingDiff'] = game_data['Colley_Rating_x'] - game_data['Colley_Rating_y']
matchups['TeamrankRatingDiff'] = game_data['Teamrank_Rating_x'] - game_data['Teamrank_Rating_y']
matchups['TrankRatingDiff'] = game_data['Trank_Rating_x'] - game_data['Trank_Rating_y']
matchups['KenpomRatingDiff'] = game_data['Kenpom_Rating_x'] - game_data['Kenpom_Rating_y']

# Average Tempo, tempo difference, and absolute value of tempo difference for Trank and Kenpom tempos
matchups['TrankAvgTempo'] = (game_data['Trank_Tempo_x'] + game_data['Trank_Tempo_y']) / 2
matchups['TrankTempoAbsDiff'] = abs(game_data['Trank_Tempo_x'] - game_data['Trank_Tempo_y'])
matchups['TrankTempoDiff'] = game_data['Trank_Tempo_x'] - game_data['Trank_Tempo_y']
matchups['KenpomAvgTempo'] = (game_data['Kenpom_Tempo_x'] + game_data['Kenpom_Tempo_y']) / 2
matchups['KenpomTempoAbsDiff'] = abs(game_data['Kenpom_Tempo_x'] - game_data['Kenpom_Tempo_y'])
matchups['KenpomTempoDiff'] = game_data['Kenpom_Tempo_x'] - game_data['Kenpom_Tempo_y']

# Offensive vs defensive efficiency averages and differences for Kenpom and Trank efficiencies
matchups['xOffyDefKenpomDiff'] = game_data['Kenpom_OE_x'] - game_data['Kenpom_DE_y']
matchups['yOffxDefKenpomDiff'] = game_data['Kenpom_OE_y'] - game_data['Kenpom_DE_x']
matchups['xOffyDefKenpomAvg'] = (game_data['Kenpom_OE_x'] + game_data['Kenpom_DE_y']) / 2
matchups['yOffxDefKenpomAvg'] = (game_data['Kenpom_OE_y'] + game_data['Kenpom_DE_x']) / 2
matchups['xOffyDefTrankDiff'] = game_data['Trank_OE_x'] - game_data['Trank_DE_y']
matchups['yOffxDefTrankDiff'] = game_data['Trank_OE_y'] - game_data['Trank_DE_x']
matchups['xOffyDefTrankAvg'] = (game_data['Trank_OE_x'] + game_data['Trank_DE_y']) / 2
matchups['yOffxDefTrankAvg'] = (game_data['Trank_OE_y'] + game_data['Trank_DE_x']) / 2

# Offensive vs defensive turnover rate averages and differences
matchups['xOffyDefTODiff'] = game_data['TOR_x'] - game_data['TORD_y']
matchups['yOffxDefTODiff'] = game_data['TOR_y'] - game_data['TORD_x']
matchups['xOffyDefTOAvg'] = (game_data['TOR_x'] + game_data['TORD_y']) / 2
matchups['yOffxDefTOAvg'] = (game_data['TOR_y'] + game_data['TORD_x']) / 2

# Offensive vs defensive rebound rate averages and differences
matchups['xOffyDefRebDiff'] = game_data['ORB_x'] - game_data['DRB_y']
matchups['yOffxDefRebDiff'] = game_data['ORB_y'] - game_data['DRB_x']
matchups['xOffyDefRebAvg'] = (game_data['ORB_x'] + game_data['DRB_y']) / 2
matchups['yOffxDefRebAvg'] = (game_data['ORB_y'] + game_data['DRB_x']) / 2

# Offensive vs defensive 3pt rate averages and differences
matchups['xOffyDef3ptRateDiff'] = game_data['3ptRate_x'] - game_data['Opp3ptRate_y']
matchups['yOffxDef3ptRateDiff'] = game_data['3ptRate_y'] - game_data['Opp3ptRate_x']
matchups['xOffyDef3ptRateAvg'] = (game_data['3ptRate_x'] + game_data['Opp3ptRate_y']) / 2
matchups['yOffxDef3ptRateAvg'] = (game_data['3ptRate_y'] + game_data['Opp3ptRate_x']) / 2

# Offensive vs defensive FT rate averages and differences
matchups['xOffyDefFTRateDiff'] = game_data['FTR_x'] - game_data['FTRD_y']
matchups['yOffxDefFTRateDiff'] = game_data['FTR_y'] - game_data['FTRD_x']
matchups['xOffyDefFTRateAvg'] = (game_data['FTR_x'] + game_data['FTRD_y']) / 2
matchups['yOffxDefFTRateAvg'] = (game_data['FTR_y'] + game_data['FTRD_x']) / 2

# Offensive vs defensive assist rate averages and differences
matchups['xOffyDefAstDiff'] = abs(game_data['Ast%_x'] - game_data['OppAst%_y'])
matchups['yOffxDefAstDiff'] = abs(game_data['Ast%_y'] - game_data['OppAst%_x'])

# Points per fga from 3 pointers
matchups['xOffyDefPoints3'] = 3 * matchups['xOffyDef3ptRateAvg'] * (game_data['3P%_x'] + game_data['3P%D_y']) / 2
matchups['yOffxDefPoints3'] = 3 * matchups['yOffxDef3ptRateAvg'] * (game_data['3P%_y'] + game_data['3P%D_x']) / 2

# Points per fga from 2 pointers
matchups['xOffyDefPoints2'] = (1 - matchups['xOffyDef3ptRateAvg']) * (game_data['2P%_x'] + game_data['2P%D_y']) / 2
matchups['yOffxDefPoints2'] = (1 - matchups['xOffyDef3ptRateAvg']) * (game_data['2P%_y'] + game_data['2P%D_x']) / 2

# Points per fga from FTs
matchups['xOffyDefPoints1'] = matchups['xOffyDefFTRateAvg'] * game_data['FT%_x']
matchups['yOffxDefPoints1'] = matchups['yOffxDefFTRateAvg'] * game_data['FT%_y']

# Points per fga
matchups['xOffyDefPoints'] = matchups['xOffyDefPoints1'] + matchups['xOffyDefPoints2'] + matchups['xOffyDefPoints3']
matchups['yOffxDefPoints'] = matchups['yOffxDefPoints1'] + matchups['yOffxDefPoints2'] + matchups['yOffxDefPoints3']

# Points per fga difference
matchups['PointDiff'] = matchups['xOffyDefPoints'] - matchups['yOffxDefPoints']

In [64]:
matchups.head()

,Weighted_Rating_x,Weighted_Rating_y,Colley_Rating_x,Teamrank_Rating_x,Teamrank10_Rating_x,Trank_OE_x,Trank_DE_x,Trank_Rating_x,EFG%_x,EFGD%_x,...,yOffxDefAstDiff,xOffyDefPoints3,yOffxDefPoints3,xOffyDefPoints2,yOffxDefPoints2,xOffyDefPoints1,yOffxDefPoints1,xOffyDefPoints,yOffxDefPoints,PointDiff
0,32.090093,23.406039,0.740130,0.688172,0.709981,109.0,98.2,0.776497,50.8,48.6,...,0.028484,35.073637,41.876926,32.639897,31.724148,27.498191,26.437613,95.211724,100.038687,-4.826962
1,39.202136,23.406039,0.865043,0.847312,0.834275,119.8,95.6,0.949334,54.2,51.8,...,0.059149,44.588234,43.438738,29.388187,29.300461,24.840188,25.714286,98.816609,98.453485,0.363124
2,33.253156,23.406039,0.724769,0.705376,0.649718,113.1,98.7,0.840914,50.9,48.6,...,0.023708,37.367675,39.079643,31.578374,30.568876,23.921358,25.678119,92.867406,95.326638,-2.459231
3,32.637889,23.406039,0.720655,0.662366,0.772128,114.2,101.2,0.811508,57.9,48.7,...,0.131749,41.002361,37.680436,33.367200,29.717662,24.567970,22.386980,98.937531,89.785078,9.152453
4,37.437160,23.406039,0.881330,0.774194,0.822976,113.3,94.9,0.901417,53.4,47.2,...,0.175922,38.932813,35.864471,32.192273,30.230077,24.290844,23.869801,95.415931,89.964349,5.451581

# Machine Learning Predictions

We will use the L1 and L2 logistic regression models because they performed the best in ML.ipynb. And we will average their prediction probabilities because they had relatively the same performance in training.

In [65]:
# The training data created in MatchupFeatureEngineering.ipynb
train_matchups = pd.read_csv('mydata/matchups.csv')

In [66]:
y = train_matchups.Upset
X = train_matchups.drop(columns = ['Upset'])

In [67]:
X.head()

,Weighted_Rating_x,Weighted_Rating_y,Colley_Rating_x,Teamrank_Rating_x,Teamrank10_Rating_x,Trank_OE_x,Trank_DE_x,Trank_Rating_x,EFG%_x,EFGD%_x,...,yOffxDefAstDiff,xOffyDefPoints3,yOffxDefPoints3,xOffyDefPoints2,yOffxDefPoints2,xOffyDefPoints1,yOffxDefPoints1,xOffyDefPoints,yOffxDefPoints,PointDiff
0,19.603241,9.928060,0.484032,0.446465,0.444444,97.3,99.1,0.445334,49.8,46.5,...,0.021118,0.363127,0.263351,0.319767,0.290067,0.275786,0.267921,0.958679,0.821339,0.137340
1,40.358259,23.232983,0.921698,0.921212,1.000000,117.2,88.8,0.978279,54.1,47.6,...,0.152258,0.403022,0.374303,0.328184,0.314259,0.263955,0.230452,0.995161,0.919015,0.076146
2,40.358259,36.520674,0.921698,0.921212,1.000000,117.2,88.8,0.978279,54.1,47.6,...,0.109056,0.394202,0.307715,0.311970,0.314546,0.275416,0.234707,0.981588,0.856967,0.124620
3,37.274341,36.520674,0.865920,0.822222,0.848148,115.2,92.3,0.943463,55.0,46.8,...,0.018604,0.387736,0.377983,0.319887,0.311065,0.302387,0.233008,1.010010,0.922057,0.087953
4,42.312421,25.040472,0.938298,1.000000,0.961111,121.0,85.6,1.000000,56.3,44.8,...,0.078373,0.347188,0.439235,0.358261,0.316658,0.257623,0.231491,0.963072,0.987385,-0.024313

In [68]:
c = [.0003, .001, .003, .01, .03, .1, .3, 1, 3, 10]
log1 = LogisticRegressionCV(cv = 10, random_state = 0, solver = 'liblinear', penalty = 'l1', Cs = c, scoring = 'neg_log_loss').fit(X, y)

In [69]:
log2 = LogisticRegressionCV(cv = 10, random_state = 0, solver = 'liblinear', penalty = 'l2', Cs = c, scoring = 'neg_log_loss').fit(X, y)

In [70]:
avg_log_loss1 = []
avg_log_loss2 = []
for i in range(len(log1.scores_[1][0])):
    loss1 = 0
    loss2 = 0
    for j in range(len(log1.scores_[1])):
        loss1 = loss1 + log1.scores_[1][j][i]
        loss2 = loss2 + log2.scores_[1][j][i]
    avg_log_loss1.append(loss1 / len(log1.scores_[1]))
    avg_log_loss2.append(loss2 / len(log2.scores_[1]))
print(max(avg_log_loss1))
print(max(avg_log_loss2))

-0.5557934833172747
-0.5570228222541418

In [71]:
# Averaging the predictions
predict = pd.DataFrame((log1.predict_proba(matchups) + log2.predict_proba(matchups)) / 2)

In [72]:
predict.columns = ['pred', 'drop']

In [73]:
predict = predict.drop(columns = ['drop'])

In [74]:
pd.options.mode.chained_assignment = None
submission = game_data[['ID', 'Pred', 'TeamID_x', 'TeamID_y']]
submission['Pred'] = predict['pred']
pd.options.mode.chained_assignment = 'warn'

In [75]:
submission.tail()

                  ID      Pred  TeamID_x  TeamID_y
2273  2019_1277_1403  0.487469      1277      1403
2274  2019_1314_1403  0.537122      1314      1403
2275  2019_1397_1403  0.475628      1397      1403
2276  2019_1403_1438  0.630230      1438      1403
2277  2019_1181_1438  0.576552      1438      1181

In [76]:
# Switches Pred to the (1 - Pred) if TeamID_x is not the lower ID because Pred is the probability for the lower ID team
pd.options.mode.chained_assignment = None
for i in range(len(submission.ID)):
    idlist = submission.iloc[i, 0].split('_')
    prob = submission.iloc[i, 1]
    if submission.iloc[i, 2] != int(idlist[1]):
        submission.iloc[i, 1] = 1 - prob
pd.options.mode.chained_assignment = 'warn'

In [77]:
submission.tail()

                  ID      Pred  TeamID_x  TeamID_y
2273  2019_1277_1403  0.487469      1277      1403
2274  2019_1314_1403  0.537122      1314      1403
2275  2019_1397_1403  0.475628      1397      1403
2276  2019_1403_1438  0.369770      1438      1403
2277  2019_1181_1438  0.423448      1438      1181

In [78]:
submission = submission.drop(columns = ['TeamID_x', 'TeamID_y'])

Since Kaggle allows you to have 2 submissions, I wanted to improve my score by taking a game with approximately 50/50 probability of each team winning and giving one team 100% chance of winning in one submission and the other team 100% in the other. This will improve my log loss.

In [79]:
submission1 = submission.copy()
submission2 = submission.copy()
submission1.iloc[1646, 1] = 1   # Oklahoma vs Miss, give Mississippi the full 100%
submission2.iloc[1646, 1] = 0   # Oklahoma vs Miss, give Oklahoma the full 100%

In [80]:
submission1.to_csv('submission1.csv', index = False)
submission2.to_csv('submission2.csv', index = False)